<CloseableSection sectionTitle="References">
  <ng-template #content>
    <div>
      <SingleReference
        name="Geoffroy Van Den Broucke"
        company="Viasat Belgium"
        position="CTO"
        phone="+32 (0) 477 47 44 21"
        companyLink="https://www.viasatconnect.be/"
      />
      <SingleReference
        name="Vincent Greslebin"
        company="Viasat Belgium"
        position="CEO"
        phone="+32 (0) 499 56 73 18"
        companyLink="https://www.viasatconnect.be/"
      />
    </div>
  </ng-template>
</CloseableSection>
