<div
  class="row"
  id="label-with-icon"
  [style]="'margin-left: ' + marginLeft + 'px;'"
>
  <mat-icon
    id="mat-icon"
    *ngIf="!iconLabel.startsWith('https://'); else elseBlock"
    aria-hidden="false"
    aria-label="Home icon"
    [fontIcon]="iconLabel"
    [style]="
      'color:' +
      iconColor +
      '; font-size:' +
      iconSize +
      'px; margin-right:' +
      spacing +
      'px;'
    "
  ></mat-icon>

  <ng-template #elseBlock
    ><img
      [src]="iconLabel"
      [height]="iconSize"
      [width]="iconSize"
      [alt]="iconLabel"
      [style]="'margin-right:' + spacing + 'px;'"
  /></ng-template>

  <ng-container [ngTemplateOutlet]="label"></ng-container>
</div>
