#label-with-icon {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

#container {
  display: flex;
  justify-content: center;
}

.little-icon {
  margin-right: 5px;
}
