<CloseableSection sectionTitle="Skills">
  <ng-template #content>
    <div id="certification-row">
      <h3>Soft skills</h3>
      <p *ngFor="let mainSkill of mainSkills">• {{ mainSkill }}</p>
      <h3>Technologies</h3>
      <div class="row skills-row">
        <div
          *ngFor="let framework of technologies.frameworks"
          id="technology-item"
        >
          <img
            [src]="framework.imageUrl"
            height="100px"
            width="100px"
            [alt]="framework.name"
          />
          <p>{{ framework.name }}</p>
        </div>
      </div>
      <div class="row skills-row">
        <div
          *ngFor="let language of technologies.languages"
          id="technology-item"
        >
          <img
            [src]="language.imageUrl"
            height="100px"
            width="100px"
            [alt]="language.name"
          />
          <p>{{ language.name }}</p>
        </div>
      </div>
      <h3>Softwares</h3>
      <div class="row">
        <div *ngFor="let software of softwares" id="technology-item">
          <img
            [src]="software.imageUrl"
            height="100px"
            width="100px"
            [alt]="software.name"
          />
          <p>{{ software.name }}</p>
        </div>
      </div>
    </div>
  </ng-template>
</CloseableSection>
