#education-date {
  margin-right: 6px;
  font-weight: bold;
}

#education-diploma {
  margin-left: 6px;
  color: #2f5496;
}

#education-description {
  color: lightgray;
}

#education_school {
  font-style: italic;
}
