<p>
  <span id="experience-date">{{ startDate }} - {{ endDate }}</span> •
  <span id="experience-position">{{ position }}</span>
</p>
<p>
  <span id="experience_company">
    <a
      [href]="companyLink"
      target="_blank"
      *ngIf="companyLink; else noCompanyLink"
      >{{ company }}</a
    >
    <ng-template #noCompanyLink>
      {{ company }}
    </ng-template>
  </span>

  <span *ngIf="location"> • {{ location }}</span>
</p>
<p id="experience-description" *ngIf="description">{{ description }}</p>
<p *ngIf="technologiesInvolved">
  <span id="experience-techs">Technologies Involved</span> :
  {{ technologiesInvolved.join(", ") }}
</p>
