#experience-date {
  margin-right: 6px;
  font-weight: bold;
  font-size: large;
}

#experience-position {
  margin-left: 6px;
  color: #2f5496;
  font-size: large;
}

#experience-description {
  color: darkgray;
}

#experience_company {
  font-style: italic;
}

#experience-techs {
  /* text-decoration: underline; */
  background-image: linear-gradient(to right, #2f5496 0%, #2f5496 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 100% 2px;
}
