<CloseableSection sectionTitle="Certifications">
  <ng-template #content>
    <div class="row" id="certification-row">
      <img src="../../assets/psmI.png" height="100px" />
      <div id="certification-text">
        <p id="certification-title">Professional Scrum Master I (PSM I)</p>
        <p>Obtained in <span id="certification-date">November 2023</span></p>
        <a href="https://www.scrum.org/" target="_blank" id="certification_link"
          ><p>Scrum.org</p></a
        >
      </div>
    </div>
  </ng-template>
</CloseableSection>
