#certification-text {
  margin-left: 15px;
}

#certification-date,
#certification-title {
  font-weight: bold;
}

#certification-title {
  color: #2f5496;
}

.certification-row {
  margin-left: 45px;
  padding-top: 15px;
}

#certification_link {
  font-style: italic;
}
