#clickable-section-title:hover {
  cursor: pointer;
}

#clickable-section-title {
  display: block;
  width: fit-content;
}

[id^="closeable-content"] {
  margin-left: 0px;
  -webkit-transition: height 1s ease, opacity 1s ease;
  transition: height 1s ease, opacity 1s ease;
}

#closeable-section {
  margin-bottom: 15px;
}
