#profilePic {
  max-height: 200px;
  border-radius: 50%;
}

#profilePicContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#drawer-text {
  display: grid;
  justify-content: center;
}

#job-title {
  margin-top: 5px;
  font-style: italic;
}

#identity {
  margin-bottom: 5px;
}
