<div id="profilePicContainer">
  <img src="../../assets/nicolas.jpg" id="profilePic" />
</div>
<h1 class="centered-text">POPPE Nicolas</h1>

<div id="drawer-text">
  <!-- <DrawerDivider title="Contact" /> -->
  <LabelWithIcon
    iconLabel="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg"
  >
    <ng-template #label>
      <a
        href="https://www.linkedin.com/in/nicolas-poppe-101804243/"
        target="_blank"
      >
        <p>
          {{ name }}
        </p>
      </a>
    </ng-template>
  </LabelWithIcon>

  <LabelWithIcon iconLabel="email">
    <ng-template #label>
      <a [href]="'mailto: ' + email">
        <p>
          {{ email }}
        </p>
      </a>
    </ng-template>
  </LabelWithIcon>

  <!-- <DrawerDivider title="Mobility" /> -->

  <!-- Second section -->
  <LabelWithIcon iconLabel="home">
    <ng-template #label>
      <p>
        {{ house }}
      </p>
    </ng-template>
  </LabelWithIcon>
  <LabelWithIcon iconLabel="directions_bike">
    <ng-template #label>
      <p>
        {{ permisA1 }}
      </p>
    </ng-template>
  </LabelWithIcon>
  <LabelWithIcon iconLabel="directions_car">
    <ng-template #label>
      <p>
        {{ permisB }}
      </p>
    </ng-template>
  </LabelWithIcon>

  <!-- <DrawerDivider title="Languages" /> -->

  <LanguagesSection />
</div>
