#drawer {
  width: 25%;
  height: 100%;
  border-right: solid blue 5px;
  background-color: #eeeeee;
  position: fixed;
  top: 0px;
  overflow-y: auto;
}

#homepage-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#main-content {
  width: 70%;
  margin-left: 26%;
}

#options {
  background-color: #2f5496;
  border-radius: 0% 0% 0% 25px;
  position: fixed;
  right: 0;
  top: 0;
}

#download_button {
  background-color: white;
  margin: 10px;
  color: black;
}
