html {
  min-height: 100%;
  background-color: #faffff;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

/* Typography */
h1 {
  text-align: center;
}

h1,
h2,
h3 {
  color: #2f5496;
}

.centered-text {
  text-align: center;
}

.no-margin-y {
  margin-top: 0;
  margin-bottom: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}
a:hover {
  text-decoration: underline;
}
